body{
    border: 5px;
    margin:40px;
    background-color:paleturquoise;
}

.cabecera{
    background: white;
    padding:5px;
    border:1px;
    }


 .menu{
    padding: 5px 15px;
    text-align: center;
            
        }
        
.menu li{
    display:inline-block;
    list-style: none;
    padding: 5px;
    text-align: center;
    font-size: 15px;
        }

ul{
    font-size: 15px:
}


p{
    border: 2px;
    margin:2px;
    text-align: justify;
    padding:2px;
    font-size:15px;    
}

h1{
    font-size: 60px;
    font-family:sans-serif;
    text-align: left;
}

h2{
    padding:2px;
    border:1px;
    font-size: 20px;
    font-family:sans-serif;
    text-align: left;
    background: white;
    padding:2px;
    border:1px;
        
}


table,td,tr{
    font-size: 15px;
    }


a{
    text-decoration: none;
}

a:hover{
    color:white;
}

.img1{
    float:right;
    margin:10px;
    
}


.div1{
    width: 400px;
    text-align: justify;
    clear:both;
}

pie{
    text-align: center;
    
}

